name: Sincronizar com Azure Repos

on:
  push:
    branches:
      - main
      - develop

jobs:
  sync-with-azure:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout no código
      uses: actions/checkout@v2

    - name: Configurar Git para o Azure Repos
      run: |
        git config --global user.email "pedro.palmuti@stormsoftware.com.br"
        git config --global user.name "PalmutiStorm"
        git remote add azure-repos https://${{ secrets.SYNCGITHUB }}@dev.azure.com/desenvolvimento0610/CRM_ANGULAR/_git/CRM_ANGULAR
      
    - name: Remover profundidade do histórico
      run: |
        git fetch --prune --unshallow

    - name: Sincronizar com o Azure Repos
      run: |
        git push azure-repos --all --force --no-thin
